<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Directorio</title>
</head>
<body>
<h1>Employees</h1>
<hr>

<table border="1">

    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempEmployee : ${employees}">

        <td th:text="${tempEmployee.id}"></td>
        <td th:text="${tempEmployee.first_name}"></td>
        <td th:text="${tempEmployee.last_name}"></td>
        <td th:text="${tempEmployee.email}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>